* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: dimgray;
}

h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}

h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.header {
    height: 110px;
    background: #FFFFFF;
}

.header_menu {
    height: 100%;
    margin: auto 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu_logo {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}

.menu_ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 46px;
    text-transform: uppercase;
}

.menu_li {
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
}

.home {
    height: 622px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("up.jpg");
    background-size: cover;
    background-position: bottom 20% center;
}

.home_text {
    font-weight: 700;
    font-size: 60px;
    line-height: 89px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home_line {
    margin-top: 7px;
    width: 80px;
    height: 10px;
    background: #817070;
}

.story {
    height: 632px;
    padding: 60px 5%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story_content {
    padding-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.story_image {
    width: 46%;
    max-width: 600px;
    height: 400px;
    background-image: url("story.jpg");
    background-size: cover;
    background-position: center;
}   

.story_text {
    padding-left: 4%;
    width: 46%;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.blog {
    height: 711px;
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.blog_header {
    margin: 60px 0;
}

.blog_content {
    margin-bottom: 64px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.blog_card {
    width: 365px;
    height: 474px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card_header {
    margin-top: 20px;
    margin-left: 20px;
}

.card_image {
    margin: 24px 20px;
    width: 325px;
    height: 216px;
    background-size: cover;
    background-position: center;
}

.card_image.img_1 {
    background-image: url("1.jpg");
}

.card_image.img_2 {
    background-image: url("2.jpg");
}

.card_image.img_3 {
    background-image: url("3.jpg");
}

.card_text {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.contact {
    height: 337px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #817070;
    border: 1px solid white;
}

.contact_header {
    color: #FFFFFF;
}

.contact_input {
    width: 300px;
    height: 55px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    background-color: #817070;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}

.contact_input::placeholder {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
}

.contact_input:focus {
    outline: none;
}

.contact_button {
    width: 129px;
    height: 55px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #817070;
    text-transform: uppercase;
    background: #FFFFFF;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

.contact_button:hover {
    color: #000000;
    border: 1px solid #000000;
}

.contact_button:active {
    background-color: #817070;
}

.footer {
    height: 72px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_text {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}
